<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
 <div layout:fragment="content">
     <div class="container mt-3">
         <div class="card">
              <div class="text-danger">
                  <h3 th:text="${errorMessage}"></h3>
              </div>
             </div>
         </div>
     </div>
 </div>
</body>
</html>
